body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 800px;
    width: 100%;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

canvas {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    margin-top: 20px;
    image-rendering: crisp-edges; /* Улучшает четкость */
    image-rendering: pixelated; /* Убирает размытие */
}

#infoPanel {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input, button {
    margin: 10px;
    padding: 5px;
}

#colorDisplay {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #000;
}

dialog {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 8px;
}

dialog form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

dialog button {
    margin: 5px 0;
}

.toolbar {
    margin-bottom: 10px;
}

.toolbar button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 4px;
}

.toolbar button.active {
    background-color: #ddd;
}

#histogramContainer {
    margin-bottom: 20px;
}

#histogram {
    border: 1px solid #000;
}
